
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My events</title>
</head>
<body>
    <h2>You are logged in. Following are the list of events from google calender</h2>
    {% if events %}
    {% for event in events %}
        {% for key,val in event.items %}
            <b>{{key}}:</b>{{val}}<br>
        {% endfor %}
        <hr>
    {% endfor %}
    {% else %}
        <h3>No events found</h3>
    {% endif %}    
</body>
</html>